body {
  font: normal normal normal 14px 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
  text-align: justify;
}

.controls-player {
  font-size: 16px;
}

a.player-control {
  display: inline-block;
  font-size: 25px;
  margin: 3px 3px;
  padding: 2px 7px;
}
