<!DOCTYPE html>
<html lang="en" {{ appcache_attr() }}>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>MPC</title>

    {{ add_stylesheet_link('main.css') }}

    <link rel="icon" href="{{ staticBase }}/images/favicons/196x196.png" type="image/png" sizes="any">
    <link rel="icon" href="{{ staticBase }}/images/favicons/16x16.png" type="image/png" sizes="16x16">
    <link rel="icon" href="{{ staticBase }}/images/favicons/32x32.png" type="image/png" sizes="32x32">
    <link rel="icon" href="{{ staticBase }}/images/favicons/48x48.png" type="image/png" sizes="48x48">

    <link rel="apple-touch-icon" href="{{ staticBase }}/images/favicons/152x152.png" type="image/png" sizes="152x152">
    <link rel="apple-touch-icon" href="{{ staticBase }}/images/favicons/120x120.png" type="image/png" sizes="120x120">

    <link rel="canonical" href="/">
</head>

<body>

<nav id="navigation"></nav>
<main id="main"></main>
<div id="controls"></div>

{{ add_javascript_tag('main.js') }}

</body>
</html>

{# vim: set ft=jinja sts=4 ts=4 sw=4: #}
